.choice{
    font-size: xx-large;
    margin-bottom: 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    margin-top: 5%;
}

.card{
    display: inline-block;
    margin: auto;
}

.customer:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 34, 0.646);
}

.customerfocus{
    background-color: rgba(0, 255, 34, 0.646);
}

.admin:hover{
    cursor: pointer;
    background-color: rgb(0, 149, 255)
}

.adminfocus{
    background-color: rgb(0, 149, 255)
}

.delivery-man:hover{
    cursor: pointer;
    background-color: rgb(255, 98, 0);
}

.delivery-manfocus{
    cursor: pointer;
    background-color: rgb(255, 98, 0);
}