
<div class="container">
  <div class="row choice">
    <div class="col-12">
      <span>
        Choose who you are:
      </span>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let user of UsersList" class="card col-3" tabindex="-1" [ngClass]="{
      'customer': (user === 'Customer'),
      'admin': (user === 'Admin'),
      'delivery-man': (user === 'Delivery man'),
      'customerfocus': (user === 'Customer' && customerModal),
      'adminfocus': (user === 'Admin' && adminModal),
      'delivery-manfocus': (user === 'Delivery man' && deliveryManModal)}"
      (click)="cardClicked(user)"
    >
      <card [name] = "user" [cardChanged]="cardChanged" ></card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <customer *ngIf="customerModal"></customer>
      <!-- <admin *ngIf="adminModal"></admin> -->
      <!-- <delivery-man *ngIf="deliveryManModal"></delivery-man> -->
    </div>
  </div>
</div>