<!-- Favorite Color: <input type="text" [formControl]="favoriteColorControl"> -->



<div class="container">
  <div class="row choice">
    <div class="col-12">
      <span>
        Choose who you are:
      </span>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let user of UsersList" class="card col-3" tabindex="-1" [ngClass]="{
      'customer': (user === 'Customer'),
      'admin': (user === 'Admin'),
      'delivery-man': (user === 'Delivery man')}">
      <card [name] = "user"></card>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <customer></customer>
    </div>
  </div>
  <div class="row" *ngIf="customerModal">
    customerModal clicked
  </div>
</div>