.container{
    padding-top: 55px;
    height: 250px;
    width: 270px;
    margin-top: 10%;
    margin-bottom: 10%;
    border-style: groove;
    border-radius: 10px;
}

.container:hover{
    background-color: rgba(0, 255, 34, 0.646);
    cursor: pointer;
}

.person{
    height: 100%;
    width: 20%;
    padding-bottom: 20px;
}

.col-12{
    text-align: center;
}