
<div class="container">
    <div class="row customers" *ngIf="!registrationModal && !customerModal">
        <!--ALL THE CUSTOMERS-->
        <div *ngFor="let customer of customers; index as i" class="col-3">
            <!-- <div class="col-11 customer">
                <img src="../../../assets/person.png" class="person">
                Name: {{customer.name}} | Surname: {{customer.surname}} | Address: {{customer.address}}
            </div> -->
            <!-- <a routerLink="/customer-page" routerLinkActive="active" ariaCurrentWhenActive="page"> -->
            <!-- {{customer| json}} -->
            <customer-card class="customer-card" tabindex="-1"
                [name]="customer.name"
                [surname]="customer.surname"
                [address]="customer.address"
                (click)="openCustomer(customer.name, customer.surname, customer.address, customer.id)">
            </customer-card>
            <!-- </a> -->
        </div>
    </div>

    <!--SPECIFIC CUSTOMER-->
    <div class="row specific-customer-row" *ngIf="!registrationModal && customerModal">
        <div class="col-12 welcome">
            Welcome back {{actualCustomer.name}}, select if you want to place an order or to check the status of your orders
        </div>
    </div>
    <div class="row specific-customer-row" *ngIf="!registrationModal && customerModal">
        <div class="col-5 order" (click)="placeOrder()">
            Place an order
        </div>
        <div class="col-2"></div>
        <div class="col-5 order" (click)="checkOrders()">
            Check orders
        </div>
    </div>

    <!--PLACE ORDERS MODAL-->
    <div class="row" *ngIf="placeOrderModal">
        <div class="col-12">
            <items [actualCustomer] = "actualCustomer"></items>
        </div>
        <!-- <div class="col-12">

        </div> -->
    </div>

    <!--CHECK ORDERS MODAL-->
    <div class="row" *ngIf="checkOrdersModal">
        <div class="col-12">
            <orders [actualCustomer] = "actualCustomer"></orders>
        </div>
    </div>

    <hr class="hr" *ngIf="!registrationModal && !customerModal">
    <div class="row registration" *ngIf="!registrationModal && !customerModal">
        <div class="col-11 customer" (click)="registration()">
            <img src="../../../assets/registration.png" class="person">
            I want to register as a new customer
        </div>
    </div>

    <!--Registration-->
    <div class="row registration" *ngIf="registrationModal">
        <div class="col-11 registrationModal">
            <input type="text" [formControl]="name"
            class="name" placeholder="Name">
            <input type="text" [formControl]="surname"
            class="surname" placeholder="Surame">
            <input type="text" [formControl]="address"
            class="surname" placeholder="Address">
        </div>
    </div>
    <div class="row buttons" *ngIf="registrationModal">
        <div class="col-6">
            <button class="submit-button" 
                    [disabled] = "!(name.getRawValue() && surname.getRawValue() && address.getRawValue())"
                    (click)="submit()">
                <img src="../../../assets/submit-order.png" class="person">
                Submit
            </button>
        </div>
        <div class="col-6">
            <button class="exit-button" (click)="exit()">
                <img src="../../../assets/exit.png" class="person">
                Exit registration
            </button>
        </div>
    </div>
</div>