.container{
    margin-top: 5%;
    border: groove;
    border-radius: 10px;
    background-color: rgba(0, 255, 34, 0.337);
}

.row{
    margin-top: 3%;
}

.hr{
    margin-top: 3%;
}

.person{
    height: 5%;
    width: 5%;
}

.customer{
    margin-top: 1%;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(0, 255, 34, 0.523);
}

.customer:hover{
    /* background-color: white; */
    background-color: rgba(0, 173, 23, 0.646);
    cursor: pointer;
}

.registration{
    text-align: center;
    font-size: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    /* background-color: rgba(0, 255, 34, 0.646); */
}