
<div class="container">
    <div class="row customers">
        <div *ngFor="let customer of customers" class="col-3">
            <!-- <div class="col-11 customer">
                <img src="../../../assets/person.png" class="person">
                Name: {{customer.name}} | Surname: {{customer.surname}} | Address: {{customer.address}}
            </div> -->
            <customer-card class="customer-card" tabindex="-1"
                [name]="customer.customer_id['name']"
                [surname]="customer.customer_id['surname']"
                [address]="customer.customer_id['address']">
            </customer-card>
        </div>
    </div>
    <hr class="hr">
    <div class="row registration">
        <div class="col-11 customer">
            <img src="../../../assets/registration.png" class="person">
            I want to register as a new customer
        </div>
    </div>
</div>